.game-board{
  display: grid;
  grid-template-columns: repeat(3);
  justify-content: center;
}
.board-row{
  display: flex;
  flex-direction: row;
}
.square{
  width: 10em;
  height: 10em;
  background-color: transparent;
  padding: .5em;
  font-weight: bold;
  border-radius: 1em;
  border: 1px solid grey;
}
.line{
  height: 100%;
  width: .2em;
  background-color: yellow;
}
